*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
  }

  header{
    width: 100%;
    height: 50px;
    background-color: #ECECEC;
  }

  header ul {
    display: flex;
    justify-content: space-between;
  }

  section ul.card {
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
  }

  section ul.card li{
    width: 260;
    min-width: 260px;
    height: 100%;

  }

  section ul.card div.info-juego{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

  }

  section ul.card img {
    width: 100%;
    height: 100%;
  }

  section ul.card button{
    background-color: #1F71B5;
    border-radius: 10px;

  }

  ul.card button a{
    color: white;
    
  }